global:
  evaluation_interval: 5s
  external_labels:
    source: promxy
remote_write:
  - url: {{ .RemoteWriteUrl | quote }}
promxy:
  server_groups:
    {{- range .ServerGroups }}
    - static_configs:
        - targets:
          {{- range .Targets }}
          - {{ . | quote }}
          {{- end }}
      path_prefix: {{ .PathPrefix | quote }}
      scheme: {{ .Scheme | quote }}
      http_client:
        dial_timeout: {{ .DialTimeout | quote }}
        tls_config:
          insecure_skip_verify: {{ .TlsInsecureSkipVerify }}
        basic_auth:
          username: {{ .Username | quote }}
          password: {{ .Password | quote }}
      labels:
        promxyCluster: {{ .ClusterName | quote }}
    {{- end }}
