{{- if index .Values "grafana" "enabled" | default false }}
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana-vm
  labels:
    dashboards: grafana
    namespace: {{ .Release.Namespace }}
spec:
  version: "10.4.7"
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 200Mi
  deployment:
    spec:
      template:
        spec:
          securityContext:
            fsGroup: 472
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-vm-pvc
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      key: GF_SECURITY_ADMIN_USER
                      name: {{ .Values.grafana.security.credentials_secret_name }}
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: GF_SECURITY_ADMIN_PASSWORD
                      name: {{ .Values.grafana.security.credentials_secret_name }}
  ingress:
    metadata:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/tls-acme: "true"
    spec:
      ingressClassName: nginx
      rules:
        - host: {{ .Values.grafana.ingress.host | quote }}
          http:
            paths:
              - backend:
                  service:
                    name: grafana-vm-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
      tls:
        - hosts:
            - {{ .Values.grafana.ingress.host | quote }}
          secretName: grafana-cluster-tls
{{- end }}
