global:
  evaluation_interval: 5s
  external_labels:
    source: promxy
remote_write:
  - url: "{{ .RemoteWriteUrl }}"
promxy:
  server_groups:
    {{- range .ServerGroups }}
    - static_configs:
        - targets:
          {{- range .Targets }}
          - "{{ . }}"
          {{- end }}
      path_prefix: "{{ .PathPrefix }}"
      scheme: "{{ .Scheme }}"
      http_client:
        dial_timeout: "{{ .DialTimeout }}"
        {{- if .BasicAuthEnabled }}
        tls_config:
          insecure_skip_verify: {{ .TlsInsecureSkipVerify }}
        basic_auth:
          username: "{{ .Username }}"
          password: "{{ .Password }}"
        {{- end }}
      labels:
        promxyCluster: "{{ .ClusterName }}"
      ignore_error: true
    {{- end }}
