prometheus-operator-crds:
  enabled: true
opentelemetry-operator:
  enabled: true
  manager:
    collectorImage:
      repository: "otel/opentelemetry-collector-contrib"
      tag: "0.123.0"
    createRbacPermissions: false
    extraArgs:
      - "--enable-go-instrumentation=true"
    featureGatesMap:
      operator.targetallocator.mtls: true
  clusterRole:
    create: true
  admissionWebhooks:
    certManager:
      enabled: true
