global:
  clusterLabel: clusterName
  storageClass: ebs-csi-default-sc
  clusterName: storage
  random_username_length: 8
  random_password_length: 12
cert-manager:
  enabled: true
  email: mail@example.net
external-dns:
  enabled: false
  provider:
    name: aws
  env:
    - name: AWS_SHARED_CREDENTIALS_FILE
      value: /etc/aws/credentials/external-dns-aws-credentials
    - name: AWS_DEFAULT_REGION
      value: us-east-2
  extraVolumeMounts:
    - name: aws-credentials
      mountPath: /etc/aws/credentials
      readOnly: true
  extraVolumes:
    - name: aws-credentials
      secret:
        secretName: external-dns-aws-credentials
victoriametrics:
  enabled: true
  vmauth:
    enabled: true
    credentials:
      username_key: username
      password_key: password
      credentials_secret_name: storage-vmuser-credentials
    ingress:
      host: vmauth.kcm0.example.net
  vmcluster:
    enabled: true
  vmalert:
    enabled: true
  vmagent:
    enabled: false
grafana:
  enabled: true
  datasources:
    - name: metrics
      url: http://vmselect-cluster:8481/select/0/prometheus
      type: prometheus
    - name: logs
      url: http://kof-storage-victoria-logs-single-server:9428
      type: victoriametrics-logs-datasource
  alerts:
    enabled: true
  security:
    credentials_secret_name: grafana-admin-credentials
    create_secret: true
  ingress:
    enabled: true
    host: grafana.kcm0.example.net
  autoinstrumentation:
    enabled: true
victoria-metrics-operator:
  enabled: true
  crds:
    plain: true
victoria-logs-single:
  enabled: true
  server:
    storage:
      enabled: true
      storageClassName: ebs-csi-default-sc
  fluent-bit:
    enabled: false
