global:
  clusterLabel: clusterName
  clusterName: storage
  random_username_length: 8
  random_password_length: 12

  # https://kubernetes.io/docs/concepts/storage/storage-classes/#default-storageclass
  # storageClass: ebs-csi-default-sc

cert-manager:
  enabled: true
  email: mail@example.net
external-dns:
  enabled: false
  provider:
    name: aws
  env:
    - name: AWS_SHARED_CREDENTIALS_FILE
      value: /etc/aws/credentials/external-dns-aws-credentials
    - name: AWS_DEFAULT_REGION
      value: us-east-2
  extraVolumeMounts:
    - name: aws-credentials
      mountPath: /etc/aws/credentials
      readOnly: true
  extraVolumes:
    - name: aws-credentials
      secret:
        secretName: external-dns-aws-credentials
victoriametrics:
  enabled: true
  vmauth:
    enabled: true
    credentials:
      username_key: username
      password_key: password
      credentials_secret_name: storage-vmuser-credentials
    ingress:
      host: vmauth.kcm0.example.net
  vmcluster:
    enabled: true
    retentionPeriod: "1" # retention period in days
    vmselect:
      storage:
        size: 2Gi
    vmstorage:
      storage:
        size: 10Gi
  vmalert:
    enabled: true
  vmagent:
    enabled: false
grafana:
  enabled: true
  datasources:
    - name: metrics
      url: http://vmselect-cluster:8481/select/0/prometheus
      type: prometheus
    - name: logs
      url: http://kof-storage-victoria-logs-single-server:9428
      type: victoriametrics-logs-datasource
  alerts:
    enabled: true
  security:
    credentials_secret_name: grafana-admin-credentials
    create_secret: true
  ingress:
    enabled: true
    host: grafana.kcm0.example.net
  autoinstrumentation:
    enabled: true
  dashboard:
    datasource:
      regex: ""
    filters: {}
victoria-metrics-operator:
  enabled: true
  crds:
    plain: true
    cleanup:
      enabled: true
victoria-logs-single:
  enabled: true
  server:
    persistentVolume:
      enabled: true
      storageClassName: ""
  fluent-bit:
    enabled: false
promxy:
  enabled: false
jaeger-operator:
  enabled: true
jaeger:
  enabled: true
  collector:
    replicaCount: 1
  storage:
    type: memory
    options:
      memory:
        max-traces: 100000
  ingress:
    enabled: false
    host: jaeger.example.com
