name: Test Release Upgrade

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - release/*
    paths:
      - "charts/**"
      - "!**.md"

env:
  GO_VERSION: "1.23"

jobs:
  deploy:
    name: Upgrade KCM and KOF
    runs-on: ubuntu-latest
    steps:
      - id: kof_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: k0rdent
          repo: kof
          excludes: prerelease, draft
      - id: kcm_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: k0rdent
          repo: kcm
          excludes: prerelease, draft
      - name: "[Latest Release] Checkout"
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kof
          ref: ${{ steps.kof_release.outputs.release }}
      - name: "[Latest Release] Setup Go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: "[Latest release] Checkout KCM repository"
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kcm
          ref: ${{ steps.kcm_release.outputs.release }}
          path: kcm-repo
      - name: "[Latest Release] Restore KCM CLI Cache"
        uses: actions/cache/restore@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_release.outputs.release }}
          restore-keys: |
            kcm-cli-${{ runner.os }}-
      - name: "[Latest Release] Install KCM CLI"
        run: |
          make -C kcm-repo cli-install
      - name: "[Latest release] Save KCM CLI Cache"
        uses: actions/cache/save@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_release.outputs.release }}-${{ github.run_id }}
      - name: "[Latest release] Apply KCM Configuration"
        run: |
          make -C kcm-repo dev-apply
      - name: "[Latest Release] Install KOF CLI"
        run: |
          make cli-install
      - name: "[Latest Release] Deploy KOF local registry container"
        run: |
          make registry-deploy
      - name: "[Latest Release] Push KOF Helm Charts"
        run: |
          make helm-push
      - name: "[Latest Release] Deploy KOF Components"
        run: |
          make dev-operators-deploy
          make dev-ms-deploy
          make dev-storage-deploy
          make dev-collectors-deploy
      - name: Fetch PR Ref and Checkout Repo
        uses: ./.github/actions/fetch-pr-ref
      - name: Checkout KCM repository main
        id: kcm_checkout
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kcm
          ref: main
          path: kcm-repo
      - name: Restore KCM CLI Cache
        uses: actions/cache/restore@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_checkout.outputs.commit }}
          restore-keys: |
            kcm-cli-${{ runner.os }}-
      - name: Install KCM CLI
        run: |
          make -C kcm-repo cli-install
      - name: Save KCM CLI Cache
        uses: actions/cache/save@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_checkout.outputs.commit }}-${{ github.run_id }}
      - name: Apply KCM Configuration
        run: |
          make -C kcm-repo dev-apply
      - name: Install KOF CLI
        run: |
          make cli-install
      - name: Deploy KOF local registry container
        run: |
          make registry-deploy
      - name: Push KOF Helm Charts
        run: |
          make helm-push
      - name: Deploy KOF Components
        run: |
          make dev-operators-deploy
          make dev-ms-deploy
          make dev-storage-deploy
          make dev-collectors-deploy
